# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Large/model files
*.pt
*.pth
*.bin
*.safetensors

# Node
node_modules/

# React production build
build/